<script id="cat-template" type="text/x-handlebars-template">
<div>
    <h2>${cat.name}</h2>
    <img src="{{cat.url}}" alt="cat{{cat.name}}">
    <p>{{cat.description}}</p>
    <p>{{cat.temperament}}</p>
    <p>{{cat.weigth}}</p>
</div>
</script>